@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}
.navbar-nav{
    margin-left: 61%;
}
.icon{
    font-size: 22px;
    margin: 0px 10px;
}
#nav .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover{
    color: orange;
    cursor: pointer;
    transition: all 0.2s linear;
}
#nav .navbar .container-fluid .collapse .navbar-nav .icon:hover{
    color: orange;
    cursor: pointer;
    transition: all 0.2s linear;
} 
#nav .container-fluid{
    width: 100%;
    height:13%;
    background-color: white;
    position: fixed;
    top:0%;
    right: 0%;
}
#nav{
    overflow: hidden !important;
}

#nav .navbar .container-fluid ul li:nth-child(7) a{
    color: black;
}
#nav .navbar .container-fluid ul li:nth-child(7) a:hover{
    color: orange;
} 
/*search*/
#nav #sea{
    position: absolute;
    top: 150%;
    right: 100%;
    width: 20%;
    height: 40%;
    border: none;
    outline: none;
    border-bottom:1px solid orange;
    background-color: transparent;
    transition: all 2s linear;
}
#nav #sea.active{
    left:75%;
    color: orange;
    transition: all 5s linear;
}

/* home*/
#home{
    width: 100%;
    height: 100vh;
    background:url(./image/img/back.jpg);
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    padding: 10% 10%;
    padding-top: 20%;
    overflow:hidden;
}
#home span{
    color: orange;
}
#home button{
    border: none;
    background-color: black;
    color: white;
    padding:10px 20px;
    transition: all 0.5s linear;
}
#home button:hover{
    background-color: orange;
    color: white;
}

/* brand */
.brand{
    width: 100%;
    height: 10vh;
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 50px;
    flex-direction: row;
}

/* new */
.new{
    width: 100%;
    height: 100vh;
}

.new .one{
    width: 33%;
    height: 400px;
    background: url("./image/img/new/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-weight: bolder;
    padding-left: 10px;
}
.new .one:hover{
    cursor: pointer;
    opacity: 0.8;
}
.new .one button{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
    border-radius: 0 1px 0 1px;
    font-weight: bolder;
    transition: all 0.2s linear;
}
.new .one button h2{
    font-weight:bolder ;
}


.new .two{
    width: 33%;
    height: 400px;
    background: url("./image/img/new/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
    padding-left: 10px;
}
.new .two:hover{
    cursor: pointer;
    opacity: 0.8;
}
.new .two button{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
    border-radius: 0 1px 0 1px;
    font-weight: bolder;
    transition: all 0.2s linear;
}
.new .two button h2{
    font-weight:bolder ;
}


.new .three{
    width: 34%;
    height: 400px;   
    background: url("./image/img/new/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-weight: bolder;
    padding-left: 10px;
}
.new .three:hover{
    cursor: pointer;
    opacity: 0.8;
}
.new .three button{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
    border-radius: 0 1px 0 1px;
    font-weight: bolder;
    transition: all 0.2s linear;
}
.new .three button h2{
    font-weight:bolder ;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.new button:hover{
    border-bottom: 2px solid orange;
}
.new button:hover{
    color: orange;
}

/* features*/
.features .f-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s linear;
}
.features .f-collections{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.features .f-collections .stars{
    color: orange;
}
.features{

    width: 100%;
    height: 80vh;
    text-align: center;
    margin-bottom: 20%;
}
.features .f-collections button{
    display: none;
    transition: all 1s linear;
}
.features .f-collections .f-one{
    transition: all 1s linear;
}
.features .f-collections .f-items:hover button{
    display: block;
}
.features .f-collections .f-items button{
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px 20px;
}

.features h3::after{
    content: '';
    width: 80px;
    height: 8px;
    background-color: orange;
    position: absolute;
    top: 1500px;
    right: 630px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

/* banner*/
.banner{
    width: 90%;
    height: 80vh;
    background: url(./image/img/banner/parallax.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10%;
    margin-left:5%;

    padding-left: 10%;
}
.banner button{
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: all 0.4s linear;
}
.banner button:hover{
    color: black;
    background-color: white;
}
.banner h1{
    font-weight:bolder ;
}
.banner h4{
    font-weight: bolder;
    font-size: 18px;
}
/* dresses & jumpsuits*/
.Jumpsuits{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.Jumpsuits .j-items img{
    width: 300px;
    height: 350px;
}
.Jumpsuits .j-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Jumpsuits button{
        color: white;
        background-color: orange;
        border: none;
        outline: none;
        font-size: 10px;
        font-weight: bolder;
        padding: 10px 20px;
        display: none;
        transition: all 0.4s linear;
}
.Jumpsuits .j-items:hover button{
    display: block;
    transition: all 0.4s linear;

}
.dress h3{
    text-align: center;
}
.dress p{
    text-align: center;
}

.dress h3::after{
    content: '';
    width: 80px;
    height:8px;
    background-color: orange;
    position: absolute;
    top: 2960px;
    right: 650px;
    border-radius: 5px;
}
.dress .Jumpsuits .stars{
    color: orange; 
}

/* watch collection*/
.watch-collection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.watch-collection .w-items img{
    width: 300px;
    height: 350px;
}
.watch-collection .w-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
    
.watch-collection button{
        color: white;
        background-color: orange;
        border: none;
        outline: none;
        font-size: 10px;
        font-weight: bolder;
        padding: 10px 20px;
        display: none;
        transition: all 0.4s linear;
}
.watch-collection .w-items:hover button{
    display: block;
    transition: all 0.4s linear;

}
.watch h3{
    text-align: center;
}
.watch p{
    text-align: center;
}

.watch h3::after{
    content: '';
    width: 80px;
    height: 8px;
    background-color: orange;
    position: absolute;
    top: 3720px;
    right: 630px;
    border-radius: 5px;
}
.watch .watch-collection .stars{
    color: orange;
}

/*Running Shoes*/
.Shoes{
    text-align: center;
}
.s-collections{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.s-collections .s-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s-collections button{
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px 20px;
    display: none;
    transition: all 0.4s linear;
}
.s-collections .s-items:hover button{
    display: block;
    transition: all 0.4s linear;

}
.shoes h3{
    text-align: center;
}
.shoes p{
    text-align: center;
}
.s-collections .stars{
    color: orange;
}
.Shoes h3::after{
    content: '';
    width: 80px;
    height: 8px;
    background-color: orange;
    position: absolute;
    top: 4490px;
    right: 640px;
    border-radius: 5px;
}

/*footer*/
#footer #box2 ul li a{
    color: black;
    text-decoration: none;
}
#footer #insta ul li img{
    width: 70px;
    
}
#footer #insta ul{
    display: grid;
    grid-template-columns: 80px 80px 80px;
}
#footer .container .row #rymo{
    padding: 20px 0px;
    line-height: 30px;
}
#footer .container .row #insta ul li img:hover{
    transform:translateY(10px);
}
#footer .container .row #contact ul :nth-child(7) :hover{
    cursor: pointer;
    color: orange;
}


/*media query*/
@media (max-width:500px) {
    .brand{
        width: 100%;
        height: 25vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .brand img{
        width: 100px;
        height: 80px;
        
        
    }
    /*new collections*/
    body{
        width: 100%;
       
    }
    .new{
        width: 100%;
        height: 250vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 20%;
    }
    .new .one{
        width: 90%;

    }
    .new .two{
        width: 90%;
    }
    .new .three{
        width: 90%;
    }
    
    /*features*/
    .features{
        width: 100%;
        height: 300vh;
        
    }
    .features .f-collections{
        width: 100%;
        height: 300vh;   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .features .f-collections .f-items img{
        width: 80%;
    
    }
    .features h3{
        color: orange;
    }
    /*dress & jumpsuits*/
    .dress{
        width: 100%;
        height: 280vh;
    }
    .dress .Jumpsuits{
        width: 100%;
        height: 250vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .dress .Jumpsuits .j-items img{
        width: 50%;
        height: 40%;
    
    }
    .dress .Jumpsuits .j-items .j-four{
        width: 50%;
        height: 100px;
    }

    /*watch*/
    .watch{
        width: 100%;
        height: 300vh;
        margin-top: 80%;
    }
    .watch .watch-collection{
        width: 100%;
        height: 300vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .watch .watch-collection .w-items img{
        width: 60%;
        height: 50%;
    }
    .watch h3{
        color: orange;
    }

    /*shoes*/
    .Shoes{
        width: 100%;
        height: 330vh;
        text-align: center;
        margin-top: 40%;
    }
    .Shoes .s-collections{
        width: 100%;
        height: 300vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
    }
    .Shoes h3{
        color: orange;
    }

    /*dress*/
    .dress h3{
        color: orange;
    }
    /*footer*/
    #footer .container .row #insta ul li img:hover{
        transform:translateY(10px);
    }
}
